body{
    box-sizing: border-box;
    background-color: pink;
}

h1{
    text-align: center;
    color:#000;
    letter-spacing: 3px;
    font-style: oblique;
    margin-right: 10%;
}

.row{
    margin-left: 12%;
}

li{
    list-style: none;
    font-size: 18px;
    
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}
  
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: lightblue;
    color: white;
}
  
.topnav .search-container {
    float: left;
    box-sizing: border-box;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.displayIcon{
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.search-form input {
    margin-top: 20px;
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #134c6b;
    padding: 0 4px;
    font-size: 16px;
    height: 2em;
    width: 90%;
   
    
}
  
.topnav .search-container button { 
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    
}
  
.topnav .search-container button:hover {
    background: #ccc;
} 
  
@media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
}

.sort{
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.sort {
    background-color: white; 
    color: black; 
    float: right;
    border: 2px solid greenyellow;
}
  
.sort:hover {
    background-color: green;
    color: white;
}

.add{
    background-color: greenyellow; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.add {
    background-color: white; 
    color: black; 
    border: 2px solid greenyellow;
    float: left;
}
  
.add:hover {
    background-color: green;
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.row-name{
    padding-bottom: 1%;
}

.row-icon{
    padding-bottom: 1%;
}

.adding{
    background-color: greenyellow; 
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.adding {
    background-color: white; 
    color: black; 
    border: 2px solid greenyellow;
    float: left;
}
  
.adding:hover {
    background-color: green;
    color: white;
}

.messages{
    color: red;
}

.product{
    display:inline-block;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}
.product img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}
h2{
    font-size: 12px;
}
.product-list{
    padding: 20px 0;
    text-align: center;
}